@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/tv-site-rec.png") no-repeat;
}
audio#musica {
    display: block;
    position: relative;
    left: 561.1px;
    top: 490px;
    width: 300px;
}
video#filme {
    display: block;
    position: relative;
    left: 74px;
    top: 68px;
    width: 440px;
}